h1 {
  text-align: center;
  color: white;
  font-family:Comic Sans MS;
  box-shadow: 6px 6px 0px blue;
  background: url("fond.PNG") 
}

p {
  color: blue;
  font-family:Comic Sans MS;
  text-shadow: 2px 2px 4px blue;
}

